# Database Connection String
# For SQLite: sqlite:///./snippets.db
# For PostgreSQL: postgresql://user:password@host:port/dbname
DATABASE_URL=sqlite:///./snippets.db

# JWT Secret Key
SECRET_KEY=generate-a-secure-key-here

# JWT Config
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
